* {
  box-sizing: border-box;
}

header {
  position: relative;
  left: 50px;
  top: 50px;
}

body {
  width: auto;
  width: 1000px;
}

img {
  max-width: 300px;
  max-height: 300px;
  float: left;
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
}

h5 {
  margin: 20px 50px;
}

.box {
  border: solid;
  display: inline-block;
  margin: 40px 40px;
}

figcaption {
  position: absolute;
  background-color: white;
  opacity: 50%;
}

h3 {
  text-align: center;
}
